<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>List ressuply events - Flask</title>
</head>

<body style="padding:20px">
{% if cursor %}
    <h3>Eventos de Reposição por IVM</h3>
    <table border="2px">
        <thead>
            <tr>
                <th>Nº de Série</th>
                <th>Fabricante</th>
                <th>Eventos de Reposição</th>
            </tr>
        </thead>
        <tbody>
        {% for record in cursor %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td><a href="resupply_event?serial_number={{ record[0] }}&manuf={{ record[1]}}">Consultar
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="main_menu">
        <button type="submit">Menu Principal</button>
    </form>
{% else %}
    <p> Erro: não foi possível obter dados da base de dados!</p>
{% endif %}
</body>

</html>