<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>List ressuply events - Flask</title>
</head>

<body style="padding:20px">
{% if cursor %}
    <h3>Eventos de Reposição da IVM nº {{ params.get("serial_number") }}</h3>
    <table border="2px">
        <thead>
            <tr>
                <th>EAN</th>
                <th>Nº da Prateleira</th>
                <th>Instante</th>
                <th>Unidades</th>
                <th>TIN</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
        {% for record in cursor %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
                <td>{{ record[4] }}</td>
                <td>{{ record[5] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="ivm">
        <button type="submit">Voltar atrás</button>
    </form>
{% else %}
    <p> Erro: não foi possível obter dados da base de dados!</p>
{% endif %}
</body>

</html>