<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>List retailers - Flask</title>
</head>

<body style="padding:20px">
{% if cursor %}
    <h3> Retalhistas </h3>
    <table border="2px">
        <thead>
            <tr>
                <th>TIN</th>
                <th>Nome</th>
                <th>Responsabilidades de Reposição</th>
                <th>Remover retalhista</th>
            </tr>
        </thead>
        <tbody>
        {% for record in cursor %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td><a href="responsible_for?tin={{ record[0] }}">Responsabilidades
                <td><a href="delete_retailer?tin={{ record[0] }}">Remover
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <form action="add_retailer">
        <button type="submit">Adicionar novo retalhista</button>
    </form>
    <br>
    <form action="main_menu">
        <button type="submit">Voltar atrás</button>
    </form>
{% else %}
    <p> Erro: não foi possível obter dados da base de dados!</p>
{% endif %}
</body>

</html>