<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>List subcategories - Flask</title>
</head>
<body style="padding:20px">
{% if cursor %}
    <h3> Subcategorias de {{ params.get("category") }} </h3>
    <table border="2px">
        <thead>
            <tr>
                <th>Subcategoria</th>
                <th>Remover subcategoria</th>
            </tr>
        </thead>
        <tbody>
        {% for record in cursor %}
            <tr>
                <td>{{ record[0] }}</td>
                <td><a href="delete_subcategory?category={{ record[0] }}">Remover
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <button onclick="location.href='add_subcategory?category={{ params.get("category") }}'" type="button">
         Add new subcategory
    </button>
    <br>
    <form action="super_category">
        <button type="submit">Voltar atrás</button>
    </form>
{% else %}
    <p> Erro: não foi possível obter dados da base de dados!</p>
{% endif %}
</body>

</html>